* {
  font-family: "Roboto", sans-serif;
}

/* @media only screen and (min-width: 1024px) {
  main {
    height: 88vh;
  }
} */

.is-fullheight-100vh {
    height: 100vh;
}

.is-brand-gold {
  background-color: #fcbf49;
}

.is-brand-navy {
  background-color: #003049;
}

.is-brand-beige {
  background-color: #eae2b7;
}

.box {
  background-color: #f8f6ec;
}

.footer {
  padding: 1.25rem;
}
