* {
    font-family: 'Roboto', sans-serif;
}

.is-brand-gold {
    background-color: #FCBF49;
}

.is-brand-navy {
    background-color:#003049;
}

.is-brand-beige {
    background-color: #EAE2B7;
}

.box {
    background-color: #f8f6ec;
}
